.main__contents__message{"data-message-id": message.id}
  .main__contents__message_body
    =message.body
  .main__contents__message_image
    =image_tag message.image
  .main__contents__message_name
    =message.user.name