*{
  box-sizing: border-box;
}

// $side-bar-color: #add8e6;
$side-bar-color: #00bfff; //水色
$side-bar-color: #ddd;
$main-contents-color: #d3d3d3;
$font-color: #666;
$font-color-orange: #ff8c00;

$top-height: 120px;
$post-height: 70px;
$test-height: 300px;

.clearfix:after{
  content: '';
  clear: both;
  display: block;
}